node_modules
**/node_modules

.env
**/.env

.venv
**/.venv

__pycache__
**/__pycache__

*.pyc
*.pyo

tmp
**/tmp

temp
**/temp

downloads
**/downloads

audio
**/audio

*.mp3
*.wav
*.m4a
*.webm

.git
.gitignore

npm-debug.log
*.log